#Body {
  margin: 80px;
  border: 2px solid #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Head1{
  border: 3px solid rgba(36, 31, 31, 0.2);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}

#Head{
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
